modules = ["web", "python-3.12", "bash"]
compile = "make"
run = "export FLASK_APP=app.py flask run --port 5001"

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "export FLASK_APP=app.py flask run --port 5001"]
